div.table-responsive {
    /* border: 2px solid green; */
    width: 73%;
    position: absolute;
    right: 20px;
    top: 120px;
    /* margin-bottom: 50px; */
    /* padding-bottom: 50px; */
}

table {
    /* table-layout: fixed; */
    word-break: keep-all;
}

div table.table {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
}

thead {
    display: table-header-group;
}

th {
    text-align: center;
    white-space: nowrap;
    width: 100px;

    font-size: 12px;
}

thead th {
    background: linear-gradient(#207DCA, #00a2e3,  #ffffff);
    color: #fff;
  }

td {
    white-space: nowrap;
    width: 100px;
    font-size: 12px;
    border-right: 1px solid #ccc; 
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

div table.table {
    /* border: 1px solid red; */
    border-collapse: collapse;
    /* overflow-x: auto; */
}
  
div table.table td, div table.table th {
    /* border: 1px solid red; */
    padding: 5px;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}
  
tr:nth-child(odd) td {
    background-color: #fff; 
}
  
td:last-child {
    border-right: none;
    text-align: center;
}

td, th {
    min-height: 40px;

}

tr {
    line-height: 30px;
}

/* form.form-header {
    border: 1px solid red;
    border-radius: 100px;
} */

.form-header input[type="text"] {
    border-radius: 15px 0 0 15px; 
}
  
  .form-header button[type="submit"] {
    border-radius: 0 15px 15px 0;
}

/* aside.menu-sidebar div.menu-sidebar__content nav.navbar-sidebar ul.list-unstyled a.active {
    /* border: 1px solid red; */
    /* background-color: black; */
    /* color: black; }*/

div.page-navigation {
    /* border: 1px solid red; */
    position: fixed;
    height: 10%;
    width: 20%;
    bottom: -5px;
    right: 70px;
    padding: 0;
    margin: 0;
}


div.page-navigation nav.pages{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    padding: 0;
}

div.page-navigation nav.pages li.page-item {
    /* border: 1px solid red; */
    word-break: keep-all;
    white-space: nowrap;
    table-layout: fixed;
}

.dataTables_wrapper .dataTables_paginate {
    display: block !important; 
}
  
.dataTables_wrapper .dataTables_filter {
    display: block !important;
}

.dataTables_wrapper .dataTables_paginate {
    margin-bottom: 50px; 
    /* 分页下方间距 */
}
  
.table-responsive {
    margin-bottom: 100px; 
    /* 表格下方间距  */
}

.dataTables_filter {
    margin-bottom: 10px;  
    /* 搜索框下方间距 */
}
  
.table-responsive {
    margin-top: 20px;
    /* margin-bottom: 20px;  */
    /* 表格上方间距 */
}

td:last-child {
  text-align: right; 
}

input[type="submit"] {
  float: right;
}

div div table thead th, div div table tbody td {
 width: 150px;
}