/* ====================== main 區 ====================== */

/* 最新消息(外框) */
div.news{
    border: 1px solid #000000;
    background: #DAE4F4;
    border-radius: 8px;
    /* margin-top: 100px; */
    /* margin-right: 300px; */
    position: relative;
    left: 250px;
    width: 800px;
    height: 450px;
}
/* 內文與框的距離 */
/* div.newbor{
    margin-top: 15px;
    
} */

/* 最新消息(文字) */
p.fresh{
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    border: #000000;
    border-radius: 8px 8px 0 0;
    margin: 15px 0 10px 75px;
}
div.texts{
    background-color: #fff;
    height:387.67px;
    border-radius: 0 0 8px 8px;
    text-align: justify; /* 左右兩側對齊 */
}
span.text{
    /* border: 1px solid red; */
    font-size: 18px;
    margin: 0 auto;
    display: inline-block; /* 讓每一行文本為一個行內區塊，方便對齊 */
    width: 100%; /* 佔據整個寬度 */
}
span.text:last-child {
    text-align: left; /* 將最後一行文本靠左對齊 */
}
span#title1{
    font-weight: bold;
    font-size: 30px;
    color:#FF9F1B;
    margin-top: 30px;
}
span#content{
    margin: 20px 0 20px 0;
}
div.words{
    width:650px;
    position: relative;
    left:75px;
    font-size: 16px;
    
}
input#next{
    position: relative;
    left:75px;
}

/* > see more */
a.see{
    /* border: 1px solid black; */
    text-decoration:none;
    color: #FF9F1B;
    position: absolute;
    right: 120px;
}
p.line{
    color: #DFDFDF;
}

