
#form1{
    width: 400px;
}
#btn1{
    width: 60px;
    height: 30px;
}

/* 側邊欄 */
aside.aside a.asidearea{
    font-size: 16px;
    color:#207DCA;
    margin: 0 0 0 12px;
    text-decoration:none;
}
aside.aside a.asidearea:hover{
    color: #FF9F1B;
}

/* input 設定 */
input{
    width: 213px;
}
input#guserID{
    position: relative;
    left: 20px;
}
input#gName{
    position: relative;
    left: 50px;
}
input#gUsername{
    position: relative;
    left: 50px;
}
input#nicknameID{
    position: relative;
    left: 50px;
}
input#gEmail{
    position: relative;
    left: 20px;
}
input#gPassword{
    position: relative;
    left: 50px;
}
input#gIDNum{
    position: relative;
    left: 3px;
}
input#gGender{
    position: relative;
    left: 50px;
    width: 213px;
    height: 30px;
}
input#gBirth{
    height: 30px;
    position: relative;
    left: 3px;
}
input#gTelephone{
    position: relative;
    left: 20px;
}
input#gAddress{
    position: relative;
    left: 20px;
    width: 300px;
}


