<?xml version="1.0" encoding="UTF-8"?>

<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>100</session-timeout>
	</session-config>
	<!-- <servlet> -->
	<!-- <servlet-name>UploadServlet</servlet-name> -->
	<!-- <servlet-class>com.example.UploadServlet</servlet-class> -->

	<!-- <multipart-config> -->
	<!-- <location>/tmp</location> -->
	<!-- <max-file-size>20848820</max-file-size> -->
	<!-- <max-request-size>418018841</max-request-size> -->
	<!-- <file-size-threshold>1048576</file-size-threshold> -->
	<!-- </multipart-config> -->

	<!-- </servlet> -->

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>UploadServlet</servlet-name> -->
	<!-- <url-pattern>/upload</url-pattern> -->
	<!-- </servlet-mapping> -->


	<!-- 定義過濾器 -->
	<filter>
		<filter-name>ManageLoginFilter</filter-name>
		<filter-class>com.pichill.manage.filter.ManageLoginFilter</filter-class>
	</filter>

	<!-- 配置過濾器 -->
	<filter-mapping>
		<filter-name>ManageLoginFilter</filter-name>
		<url-pattern>/backstage/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<!-- 定義過濾器 -->
	<filter>
		<filter-name>OwnerUserLoginFilter</filter-name>
		<filter-class>com.pichill.frontstage.owneruser.filter.OwnerUserLoginFilter</filter-class>
	</filter>

	<!-- 配置過濾器 -->
	<filter-mapping>
		<filter-name>OwnerUserLoginFilter</filter-name>
		<url-pattern>/homepage/owneruserhome.jsp</url-pattern>
		<url-pattern>/ownerusernotify/notify.jsp</url-pattern>
				<url-pattern>/contactus/addContactUs.jsp</url-pattern>
		<url-pattern>/owneruser/listOneOwnerUser.jsp</url-pattern>
		<url-pattern>/owneruser/ouserListOne.jsp</url-pattern>
		<url-pattern>/owneruser/owneruser.jsp</url-pattern>
		<url-pattern>/owneruser/set_owneruser.jsp</url-pattern>
		<url-pattern>/court/court.jsp</url-pattern>
		<url-pattern>/court/all_court.jsp</url-pattern>
		<url-pattern>/court/listOneCourt.jsp</url-pattern>
		<url-pattern>/court/new_court.jsp</url-pattern>
		<url-pattern>/court/set_court.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<!-- 定義過濾器 -->
	<filter>
		<filter-name>GeneralUserLoginFilter</filter-name>
		<filter-class>com.pichill.frontstage.generaluser.filter.GeneralUserLoginFilter</filter-class>
	</filter>

	<!-- 配置過濾器 -->
	<filter-mapping>
		<filter-name>GeneralUserLoginFilter</filter-name>
		<url-pattern>/homepage/main.jsp</url-pattern>
		<url-pattern>/generaluser/generaluser.jsp</url-pattern>
		<url-pattern>/generaluser/guserListOne.jsp</url-pattern>
		<url-pattern>/reserveorder/listOneOrder.jsp</url-pattern>
		<url-pattern>/reserveorder/updateStatus.jsp</url-pattern>
		<url-pattern>/reserveorder/reserveOrder.jsp</url-pattern>
		<url-pattern>/reserveorder/reserveOrderList.jsp</url-pattern>
		<url-pattern>/contactusForGUser/addContactUs.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

</web-app>
