*{
    box-sizing: border-box;
    overflow-wrap: break-word;
}
h1.headline{
    text-align: center;
}
div.col-md-10-col-md-push-1{
    text-align: left;
    width: 80%;
    position: relative;
    left: 10%;


}

div.disclaimer{
    width: 80%;
    vertical-align: top;
    font-size: 1rem;
    /* border: 1px solid blue; */
    margin-top:60px;
    text-align: center;
    position:relative;
    left: 10%;
    li.termList{
        text-align: left;
        list-style: none;
    }
    ul.sub li {
        text-align: left;
        counter-increment: count;
        list-style-type: none;
    }
    ul.sub li::before {
        content: counter(count) '). ';
    }
    p.thankyou{
        text-align: right;
    }
}