*{
    box-sizing: border-box;
    font-family: "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
}
/* body{ */
/*     margin: 0; */
/*     padding: 0; */
/*     background: #F7F7F7; */
/*     overflow: visible; */
/* } */

img{
    max-width: 100%;
}
/*======================= header 區域 ============================*/
/* header.header{ */
/*     border: 1px solid black; */
/*     background-color: #207DCA; */
/*     position: sticky; */
/*     margin: 0 auto 10px auto; */
/*     top: 0; */
/*     overflow: visible; */
/*     z-index: 3; */
/* } */


/* @media all and (min-width: 576px) and (max-width: 767.98px){ */
/*     header.header{ */
/*         width: 540px; */
/*     } */
/* } */
/* @media (max-width: 575.98px){ */
/*     header.header{ */
/*         width: 100%; */
/*     } */
/* } */


/*=== header導覽列 ===*/

/* .nav-link{ */
/*   color: white; */
/*   margin: 15px; */
/*   font-weight: bold; */
/* } */

/* ul.nav.nav-pills{ */
/*   position: relative; */
/*   right: 30px; */
/* } */
/* #head{ */
/*   position: relative; */
/*   top:8px; */
/* } */
/* #heads{ */
/*   position: relative; */
/*   top:5px; */
/* } */
/* /* header大頭貼剪裁成圓形 */ */
/* img.rounded-circle{ */
/*   border-radius: 50%; */
/*   width: 40px; */
/*   height: 40px; */
/* } */
/*======================= body 區域 ============================*/
div.main_content{
    margin: 0 auto;
    font-size: 0;
    /* border: 1px solid red;   */
}

@media (min-width: 576px) and (max-width: 767.98px){
    div.main_content{
        width: 540px;
    }
}  

@media (max-width: 575.98px){
    div.main_content{
        width: 100%;
    }
}

body.p-3{
  padding:0;
}




/* ===================== aside 區 ===================== */
aside.aside{
    width: 900px;
    height:750px;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    margin-right: 10px;
    /* border: 1px solid green; */
}
@media (max-width: 575.98px){
    div.main_content{
        width: 100%;
    }
}

/* 球館名稱 */
aside.aside div.info{
    /* border: 1px solid black; */
    padding-left: 80px;
}
/* 內文 */
p.name{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

div.courtimg{
/*     border: 1px solid grey; */
/*     width: 500px; */
/*     height: 300px; */
/*     margin-left: 80px; */
/*     background-color: #989898; */

}

div.googlemap{
    border: 1px solid grey;
    width: 500px;
    height: 300px;
    margin-left: 80px;
    background-color: #c8c8c8;
}

div.activity{
    border: 1px solid grey;
    width: 800px;
    height: 300px;
    margin-left: 80px;
    background-color: #fff;
}
/* 之後要拿掉 */
p#picw{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 25%;
    top: 45%;
}
/* ===================== main 區 ===================== */
main.main{
    width: calc(100% - 650px - 10px);
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    /* border: 1px solid blue; */
    box-sizing: border-box;
}

@media (max-width: 575.98px){
    aside.aside,main.main{
        display: block;
        width: 100%;
    }
    aside.aside{
        margin: 0 0 10px 0;
    }
    main.main{
      margin: 0 auto;
    }
}  

/* /* 日期 */ */
/* span.reservedate{ */
/*     position: relative; */
/*     left: 100px; */
/*     top: 110px; */
/* } */

/* input#date{ */
/*     padding: 1px 5px 0 35px; */
/* } */

/* /* 球類 */ */
/* div.balls{ */
/*     border: 1px solid orange; */
/*     width: 400px; */
/*     height: 300px; */
/*     margin: 0; */
/*     padding: 0; */
/*     position: relative; */
/*     left: 100px; */
/*     top: 120px; */
/* } */
button.nav-link{
    /* border: 5px solid black; */
    color: #207DCA;
    background-color: #fff;
    
}

/* div.tab-pane.fade{ */
/*     border: 1px solid #E7E7E7; */
/*     border-top: 0; */
/*     border-radius: 5px; */
/*     color: black; */
/*     background: #fff; */
/*     height: 600px; */

/* } */
/* /* 整串時段 */ */
/* div.texts{ */
/*     padding: 10px 20px 10px 20px; */
/* } */
/* p.line{ */
/*     color: #E7E7E7; */
/*     margin: 15px 0 0 0; */
/* } */
span.text{
    position: relative;
    top: 10px;
    left: 20px;
}
/*=== 預約按鈕 ===*/
a.reserve{
    border:0;
    background-color:#FF9F1B;
    color:#fff;
    border-radius:8px;
    padding: 5px 15px 5px 15px;
    cursor:pointer;
    position: relative;
    top: 10px;
    left: 200px;
    text-decoration:none;
}
a.reserve:hover{
    color:#FF9F1B;
    background-color:#fff;
    border:2px #FF9F1B solid;
  }
  
/* 禁用按鈕 */
a.disabled {
    pointer-events: none;
    color: #fff; 
    background-color: rgb(185, 185, 185);
    text-decoration: none; 
}

/*======================= footer 區域 ============================*/
footer.footer{
    /* border: 1px solid black;  */
    background-color: #207DCA;
    /* width: 720px; */
    margin: 10px auto 0 auto;
    overflow: -moz-hidden-unscrollable;
    z-index: 1;
}

@media (min-width: 576px) and (max-width: 767.98px){
    footer.footer{
        width: 540px;
    }
}

@media (max-width: 575.98px){
    footer.footer{
        width: 100%;
    }
}
